<section class="sec sec-org sec-gallery">
  <div class="wrap clear-col">
    <ul class="gallery-display">
      <li class="image">
        <img src="{% static '/images/race.jpg' %}">
        <div class="caption">
          <span>BAY BRIDGE RUN/WALK 2017</span>
        </div>
      </li>
      <li class="image">
        <img src="{% static '/images/race.jpg' %}">
        <div class="caption">
          <span>BAY BRIDGE RUN/WALK 2017</span>
        </div>
      </li>
      <li class="image">
        <img src="{% static '/images/race.jpg' %}">
        <div class="caption">
          <span>BAY BRIDGE RUN/WALK 2017</span>
        </div>
      </li>
      <li class="image">
        <img src="{% static '/images/race.jpg' %}">
        <div class="caption">
          <span>BAY BRIDGE RUN/WALK 2017</span>
        </div>
      </li>
      <li class="image">
        <img src="{% static '/images/race.jpg' %}">
        <div class="caption">
          <span>BAY BRIDGE RUN/WALK 2017</span>
        </div>
      </li>
      <li class="image">
        <img src="{% static '/images/race.jpg' %}">
        <div class="caption">
          <span>BAY BRIDGE RUN/WALK 2017</span>
        </div>
      </li>
      <li class="image">
        <img src="{% static '/images/race.jpg' %}">
        <div class="caption">
          <span>BAY BRIDGE RUN/WALK 2017</span>
        </div>
      </li>
    </ul>
    <ul class="gallery-list">
    </ul>
    <h2>BAY BRIDGE RUN/WALK 2017</h2>
  </div>
</section>
