<section class="sec sec-hero" id="HOME">
  <div class="wrap">
    <div class="two-col">
      <h1>Giving back</h1>
      <h2>We are giving<br> back to<br> the world</h2>
    </div>
    <div class="two-col">
      <img src="{% static '/images/logo.png' %}">
    </div>
  </div>
</section>
