<section class="sec sec-w sec-image sec-image-title">
  <div class="wrap">
    <div class="one-col">
      <h2>What is the</h2>
      <h3>good energy <strong>giving back</strong> program?</h3>
    </div>
    <div class="two-col">
      <div class="image" style="background-image:url('{% static '/images/giving-back.jpg' %}');background-repeat:no-repeat">
        <img src="{% static '/images/giving-back.jpg' %}">
      </div>
    </div>
    <div class="two-col">
      <div class="copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac enim purus. Vestac ullamcorper felis, et sagittis velit. Duis a malesuada ligula. </p>
        <ul>
          <li>Sed elit dolor, iaculis a odio sit amet</li>
          <li>Varius hendrerit justo</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
        </ul>
        <p>Integer ac enim purus. Vestibulum ac ullamcorper felis, et sagittis velit. Duis a malesuada ligula. Sed elit dolor, iaculis a odio sit amet, varius hendrerit justo.   </p>
      </div>
    </div>
  </div>
</section>
