// ----------
// Accordion
// ----------

.accordion
  &-toggle
    cursor pointer
    
    *::after
      content '>'

  &-content
    overflow hidden

  &-body
    overflow auto


// ----------
// Closed
// ----------

.accordion
  &-closed
    //
