// ----------
// Gallery
// ----------

.sec-gallery
  img
    width 100%

  .clear-col
    +bp('mM')
      pad(2,3)

  h2
    fs(22)
    // line-height (50/22)
    letter-spacing .1em
    text-align center
    text-transform uppercase
    mgn(.5,2)

.gallery-display
  position relative
  z-index 2

  .caption
    background rgba($b,.6)
    bottom 0
    color $w
    fs(mp(-1))
    pad(.5,1)
    left 0
    letter-spacing .06em
    opacity 0
    position absolute
    right 0
    text-align center
    transition opacity .1s linear
    z-index 1

  .image:hover
    .caption
      opacity 1

  img
    z-index 0

  .slick-arrow
    position absolute
    top 100%
    padding-left 0
    padding-right 0
    width (100%/16)

    +bp('M')
      margin 0

  .slick-prev
    left 0

  .slick-next
    right 0

  button
    background $org
    font-family $RealHeadLight
    fs(63.86)
    padding 0

.gallery-list
  padding $let*.5em (100%/16)
  position relative
  z-index 1

  +bp('M')
    display none

  .image
    col(1,8)
    padding-top $let*.5em
    padding-bottom $let*.5em

    &-wrap
      background-position center
      background-size cover
      height 0
      padding-bottom (92/114)*100%

      img
        opacity 0
