// ----------
// Hero
// ----------

.sec
  &-hero
    background $lime
    color $w

    .wrap
      +bp('mM')
        align-items center
        display flex
        padding 0

    .two-col
      &:first-child
        +bp('mM')
          padding-left (98/$p)*1em

        +bp('M')
          pad(0,1)

    h1
      color $grn
      fs(13.93)
      letter-spacing .2em
      text-transform uppercase

      +bp('mM')
        fs(25.16)
        mgn(3,0,1)

      +bp('M')
        margin-top 0

    h2
      fs(60.17)
      letter-spacing -.01em
      line-height (59.54/60.17)
      margin-left 0
      max-width (480/108.65)*1em

      +bp('mM')
        fs(108.65)
        font-size (108.65/1440)*100vw
        line-height (107.51/108.65)
        mgn(5,0,8)

    h1, h2, img
      opacity 1
      transform translate3d(0,0%,0)
      transition all 1s ease-out

    .loading &
      h1, h2, img
        opacity 0
        transform translate3d(0,15%,0)
