// ----------
// Tabs
// ----------

.sec-tabs
  background $w

  > .wrap
    padding 0

  .slick-slide
    outline 0

.tabs-list
  .slick-track
    display flex

  &-item
    align-items center
    background $nw
    cursor pointer
    display flex !important
    height initial
    float left
    justify-content center
    pad(1,.5)
    transition background .2s
    width 25%

    +bp('mM')
      pad(3,.5)

    &:hover
      background lighten($nw,50%)

    &.slick-current
      background $w

.tabs-display
  .tab-item
    .logo, h3
      position absolute
      visibility hidden

    p
      font-size 26px
      line-height (36/26)

    .tab-body
      +bp('M')
        &, .two-col
          pad(1,.5)

      +bp('mM')
        .two-col
          pad(3,.5)

        .two-col:nth-of-type(1)
          padding-left (98/$p)*1em
          padding-right (66/$p)*1em
          width (666/1200)*100%

        .two-col:nth-of-type(2)
          padding-left (66/$p)*1em
          width (534/1200)*100%
