// ----------
// Tabs
// ----------

.sec-leaders
  background $w

  > .wrap
    padding 0

    .one-col:first-child
      pad(2,1)

      +bp('mM')
        pad(3,1,1)
        padding-left (98/$p)*1em

  .slick-slide
    outline 0

.leaders-list
  .slick-track
    display flex

  .slick-prev, .slick-next
    background $w url('/static/images/team/prev.png') no-repeat right $lh*.5px center
    bottom $let*2em
    font-size 1rem
    position absolute
    margin 0
    outline 0
    padding 0
    text-indent -999em
    top 0
    width 50%

  .slick-prev
    right 100%

  .slick-next
    background-image url('/static/images/team/next.png')
    background-position $lh*.5px center
    left 100%

  &-item
    perspective 500px
    pad(0,.5,2)

    &.slick-current
      .leaders-list-body
        background $nw

        &::after
          border-top-color $nw

      .name
        color $cgry

  &-body
    background $grn
    cursor pointer

    .profile
      display block
      height auto
      width 100%

    &, .name, &::after
      transition all .2s

    .name
      color $w
      font-family $RealHeadBold
      font-size 14px
      letter-spacing .12em
      pad(1,1)
      text-align center
      text-transform uppercase

    &::after
      border $lh*1px solid $w
      content ''
      left 50%
      margin-left (-($lh*1px))
      position absolute
      top 100%

.leaders-display
  background $nw

  .leader-item
    .profile
      position absolute
      visibility hidden

    h3, p
      color $cgry
      max-width 100%

    h3
      font-family $RealHeadBold
      font-size 40px

    p
      font-size 26px
      line-height (36/26)

  .leader-body
    @extend .wrap

    +bp('mM')
      .one-col
        pad(1,.5)
        padding-left (98/$p)*1em
