// ----------
// Video
// ----------

.videos
  .wrap
    pad(3,.5,2)
    
.video
  &-wrap
    mgn(0,auto,1)
    max-width $pwidth*1em
    width 100%

  &-ratio
    height 0
    padding-bottom (360/640)*100%
    position relative
    width 100%

iframe
  &.video, .video-ratio &
    left 0
    height 100%
    position absolute
    top 0
    width 100%
