// ----------
// Buttons
// ----------

button, .btn
  background $red
  border 0
  color $w
  cursor pointer
  font-family $RealHeadBold
  font-size 22px
  letter-spacing .2em
  pad(1,1)
  mgn(1,0)
  outline 0
  text-transform uppercase
  transition all .2s

  &:hover, &:focus
    background darken($red,20%)

  +bp('mM')
    pad(1,3)
