// ----------
// Inputs
// ----------

input, textarea, button, select
  appearance none
  color inherit
  font-family $RealHeadLight
  margin 0
  padding 0

  &::placeholder
    color $cgry

label
  display block

::-webkit-input-placeholder
  color $cgry

:-moz-placeholder /* Firefox 18- */
  color $cgry

::-moz-placeholder  /* Firefox 19+ */
  color $cgry

:-ms-input-placeholder
  color $cgry

input, textarea
  display block
  width 100%
