// ----------
// Theme
// ----------

.sec
  &-grn, &-org, &-red, &-lime, &-dgry
    color $w

    p
      font-size ($h3/$p)*1em
      line-height (36/$h3)

  &-grn
    background $grn


  &-org
    background $org


  &-red
    background $red


  &-lime
    background $lime

    button
      background $dgry

      &:hover, &:focus
        background darken($dgry,20%)


  &-dgry
    background $dgry
