// ----------
// Footer
// ----------

.footer
  @extend .sec
  background $dgry
  color $w

  +bp('mM')
    > .wrap
      padding-left 0
      padding-right 0

    .two-col:nth-child(1)
      padding-left (98/$p)*1em
      padding-right $gut*1em
      width 50%

    .two-col:nth-child(2)
      padding-left $gut*1em
      width 50%


// ----------
// Contact
// ----------

.footer
  &-contact
    max-width 18*($h3/$p)*1em
    mgn(1,auto)

    h4
      font-family $RealHeadBold
      font-size ($h5/$p)*1em
      letter-spacing .1em
      line-height $let5
      mgn(1,0,0,lh:h5)
      max-width none
      text-transform uppercase

    h5, p
      max-width 100%

    h5
      font-size ($pc/$p)*1em
      line-height $letc
      margin-bottom 0
      text-transform lowercase

      + p
        margin-top 0

    p
      font-size ($h4/$p)*1em
      line-height: $let4

    input, textarea
      border 0
      border-left 1px solid darken($dgry,20%)
      border-right 1px solid lighten($dgry,50%)
      color $cgry
      font-size ($h4/$p)*1em
      outline 0
      pad(.5,1,lh:h4)

    input
      mgn(2,0,.5)

    textarea
      mgn(.5,0)

    button
      background $grn
      border 0
      color $w
      cursor pointer
      font-size ($h5/$p)*1em
      font-weight $bold
      letter-spacing .2em
      line-height $let5
      mgn(0,0,2)
      pad(.5,1)
      text-transform uppercase
      transition all .2s

      &:hover, &:focus
        background darken($grn,10%)


// ----------
// Legal
// ----------

.footer
  &-nav
    max-width 100%
    mgn(1,auto)

    h3
      font-family $RealHeadBold
      margin-left 0

      strong
        color $grn
        letter-spacing inherit

.fnav
  &-a
    font-family $RealHeadBold
    font-size ($pc/$p)*1em
    letter-spacing .1em
    line-height $letc
    text-transform uppercase


// ----------
// Legal
// ----------

.footer
  &-legal
    display block
    font-size (($p/$mod/$mod/$mod/$mod)/$p)*1em
    mgn(1,auto,lh:pc)
    letter-spacing .1em
    text-transform uppercase
