// ----------
// Header
// ----------

.header
  //

  &-logo
    left $gt*1px
    position fixed
    top 10px
    z-index 29

    +bp('mM')
      top 50px

    +bp('mD')
      left 50%
      transform translate3d(-580px,0,0)
      top 50px
