// ----------
// Content
// ----------

#skip-to
  left 0
  position fixed
  top 0

.main
  overflow hidden

.sec
  &-copy, &-image
    .wrap
      align-items center
      padding-left 0
      padding-right 0

    +bp('mM')
      .wrap
        display flex

      .two-col:nth-child(1)
        width (666/1200)*100%

      .two-col:nth-child(2)
        padding-left (66/$p)*1em
        width (534/1200)*100%

  &-copy
    .two-col
      pad(0,1)

    +bp('mM')
      .two-col:nth-child(1)
        padding-left (98/$p)*1em
        padding-right (66/$p)*1em

  &-image
    .wrap, .two-col:nth-child(1)
      padding 0

    .two-col:nth-child(2)
      +bp('M')
        pad(1,1,2)

    &-title
      .wrap
        +bp('mM')
          align-items stretch
          flex-wrap wrap
          pad(2,0,4)

      .one-col:first-child,
      .two-col:nth-child(2)
          +bp('mM')
            padding-left (98/$p)*1em

          +bp('M')
            pad(0,1)

        &:nth-child(2)
          padding 0 9px

          +bp('M')
            pad(0,.25)

      .two-col:nth-child(2)
        +bp('mM')
          padding-right $gut*1em

      .two-col:nth-child(3)
        +bp('mM')
          padding-left $gut*1em

      h2
        color #bdbbbb
        fs(22)
        letter-spacing .2em
        line-height (84/22)
        margin 0
        text-transform uppercase

      h3
        color $dgry
        font-family $RealHeadBold
        fs(50)
        line-height (55.42/50.3)
        mgn(0,0,2)
        max-width 100%
        text-transform lowercase

        strong
          color $lime

      .two-col
        display flex

      .image
        background-position center
        background-size cover
        border $let*1em solid $w
        border-width $let*1em 0

        img
          opacity 0

      p
        max-width 100%

      p, li
        fs(26)
        line-height (36/26)

      ul
        padding-left $gut*1em

      li
        font-family $RealHeadBold
        list-style disc

    &-reverse
      +bp('mM')
        .wrap
          flex-direction row-reverse

        .two-col:nth-child(2)
          padding-left (98/$p)*1em
          padding-right (66/$p)*1em

          h2
            font-size ($h1/$p)*1em
            line-height $let1

            strong
              display block
              font-size (22/$h1)*1em
              letter-spacing .2em
              text-transform uppercase

  &-pullquote
    .wrap
      +bp('mM')
        padding-left 0

    .one-col
      +bp('mM')
        padding-left (98/$p)*1em

      p
        font-family $RealHeadExtLight
        fs(20)
        line-height (27/20)
        max-width 100%

        +bp('mM')
          fs(36)
          line-height (51/36)

      h5
        font-family $RealHeadBold
        fs(13)
        letter-spacing 0.1em
        line-height (19/13)
        max-width 100%
        text-transform uppercase

        +bp('mM')
          font-size (22/$p)*1em
          line-height (50/22)
