// ----------
// Core type
// ----------

h1, h2
  font-family $RealHeadBold
  text-transform lowercase

h1
  font-size ($h1/$p)*1em
  line-height (109/$h1)
  mgn(1,auto,lh:h1)

h2
  font-size ($h2/$p)*1em
  line-height (68/$h2)
  mgn(1,auto,lh:h2)

h3
  font-size ($h3/$p)*1em
  font-weight $light
  line-height $let3
  mgn(1,auto,lh:h3)

h4
  font-size ($h4/$p)*1em
  line-height $let4
  mgn(1,auto,lh:h4)

h5
  font-size ($h5/$p)*1em
  line-height $let5
  mgn(1,auto,lh:h5)

p
  mgn(1,auto)

h3, h4, h5, p
  max-width 18em


// ----------
// Modifers
// ----------

strong, b
  font-family $RealHeadBold
  letter-spacing normal

em, i
  font-style italic

sup
  font-size smaller
  vertical-align top
