// ----------
// Main nav
// ----------

.mnav
  background $grn
  color $w
  height 65px
  overflow hidden
  position fixed
  right 0
  top 10px
  width 65px
  z-index 30

  +bp('mM')
    top 50px
    width 109px

  &-icon, path, circle
    transition all .5s

  &-icon
    display block
    left 15px
    position absolute
    top 15px
    transform rotate(0deg)
    z-index 1

    svg
      display block
      height 35px
      width 35px

      path, circle
        fill none
        opacity 1
        stroke $w
        stroke-width 2
        stroke-miterlimit 10
        transform scale(1)
        transform-origin center

  &-closed
    height 65px
    width 65px

    +bp('mM')
      width 109px

    .mnav-icon
      transform rotate(180deg)

      circle
        opacity 0
        transform scale(0)

  &-body
    background $grn
    left 0
    position absolute
    top 0
    z-index 0

  &-ul
    padding 70px 0

  &-a
    font-size ($h3/$p)*1em
    letter-spacing .06em
    line-height (42/$h3)
    padding 0 90px 0 60px
    white-space nowrap
    text-transform uppercase
    transition color .15s

    &:hover, &:focus
      color $cgry

  &-li:not(.mnav-footer) + .mnav-footer
    margin-top 42px

  &-footer
    .mnav-a
      font-family $RealHeadBold
      font-size (16/$p)*1em
      line-height (42/16)

  transform translate3d(0%,0,0)
  transition transform .4s ease-out .5s

  .loading &
    transform translate3d(100%,0,0)
