// ----------
// Index
// ----------

.positive-nutrition
  .wrap
    pad(3,0,4)

    .one-col
      &:first-child
        +bp('mM')
          padding-left (98/$p)*1em

        +bp('M')
          pad(0,1)

      &:nth-child(2)
        padding 0 9px

        +bp('M')
          pad(0,.25)

  h2
    color #bdbbbb
    font-size 1em
    letter-spacing .2em
    line-height $let
    text-transform uppercase

  h3
    color $dgry
    font-family $RealHeadBold
    font-size ($h2/$p)*1em
    line-height $let2
    overflow hidden
    max-width 100%
    text-transform lowercase

    span
      color $grn
      display inline-block
      height $let2*1em
      vertical-align top

      +bp('M')
        display block

      .slick-slider
        left 0
        min-width 400px
        position absolute
        top 0



.positive-slides
  .slick-track
    transform translate3d(0,0,0) !important
    width 100% !important

  .slick-cloned
    display none

  .slick-slide
    cursor pointer
    outline 0

  .body
    align-items center
    background $nw
    color $cgry
    font-weight $thin
    margin-bottom $let*.25em
    transition all .3s

    +bp('mM')
      display flex
      margin-bottom 14px

    .title
      font-family $ReadHeadLight
      font-size (36/$p)*1em
      font-weight 300
      letter-spacing .15em
      pad(1,.75,0)
      text-transform uppercase

      +bp('mM')
        padding .5em (66/36)*1em .5em (86/36)*1em
        width (522/1182)*100%

    .blurb
      font-family $ReadHeadExtLight
      font-size ($h3/$p)*1em
      font-weight 200
      letter-spacing normal
      line-height (36/$h3)
      pad(0,.75,1)

      +bp('mM')
        padding (36/$h3)*.5em $gut3*1em (36/$h3)*.5em (36/$h3)*1em
        width (660/1182)*100%

  .slick-active
    .body
      background $grn
      color $w
