@font-face {
	font-family: 'RealHeadPro-Light';
	src: url('../fonts/RealHeadPro-Light.eot');
	src: url('../fonts/RealHeadPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RealHeadPro-Light.woff') format('woff'),
		url('../fonts/RealHeadPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'RealHeadPro-ExtLight';
	src: url('../fonts/RealHeadPro-Extlight.eot');
	src: url('../fonts/RealHeadPro-Extlight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RealHeadPro-Extlight.woff') format('woff'),
		url('../fonts/RealHeadPro-Extlight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'RealHeadPro-Bold';
	src: url('../fonts/RealHeadPro-Bold.eot');
	src: url('../fonts/RealHeadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RealHeadPro-Bold.woff') format('woff'),
		url('../fonts/RealHeadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
