bodyClass: home
pageClass: index

{% extends "base.html" %}

{% block body %}

{% include 'partials/_hero.html' %}
<section class="sec sec-dgry sec-pullquote">
  <div class="wrap">
    <div class="one-col">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac enim purus. Vestibulum ac ullamcorper felis, et sagittis velit. Duis a malesuada ligula. Sed elit dolor, iaculis a odio sit amet, varius hendrerit justo.</p>
      <h5>BY GIVING BACK - WE BRING GOOD ENERGY TO THE WORLD.</h5>
    </div>
  </div>
</section>
{% include 'partials/_image-title.html' %}
{% include 'partials/_gallery.html' %}
<section class="sec sec-w videos">
  <div class="wrap">
    <div class="two-col">
      <div class="video-wrap">
        <div class="video-ratio">
          <iframe src="https://player.vimeo.com/video/186082848?color=552e2e&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video"></iframe>
        </div>
      </div>
    </div>
    <div class="two-col">
      <div class="video-wrap">
        <div class="video-ratio">
          <iframe src="https://player.vimeo.com/video/187529125?color=552e2e&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
