<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="description" content="">
	<meta property="og:site_name" content="">
	<meta property="og:url" href="" />
	<meta property="og:title" content="">
  <meta property="og:image" content="">
	<meta property="og:description" content="">
  <title>Premier Nutrition</title>
  <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
  <!--[if lte IE 8]>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather' rel='stylesheet' type='text/css'>
  <![endif]-->
  <link rel="stylesheet" href="{% static '/css/premier.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body class="loading">
	<a href="#top" id="skip-to" title="Skip to main content">Skip to main content</a>
  <header class="header">
    <nav class="mnav mnav-closed">
      <div class="mnav-body">
        <a href="" data-nohref="true" title="Open navigation" class="mnav-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
            <circle cx="17.5" cy="17.5" r="16.5"/>
            <path d="M5.5 5.5l24 24"/>
            <path d="M29.5 5.5l-24 24"/>
          </svg>
        </a>
        <ul class="mnav-ul">
          <li class="mnav-li">
            <a href="#HOME" class="mnav-a" title="HOME">HOME</a>
          </li>
          <li class="mnav-li">
            <a href="#BRANDS" class="mnav-a" title="BRANDS">BRANDS</a>
          </li>
          <li class="mnav-li">
            <a href="#PHILOSOPHY" class="mnav-a" title="PHILOSOPHY">PHILOSOPHY</a>
          </li>
          <li class="mnav-li">
            <a href="#NUTRITION" class="mnav-a" title="NUTRITION">NUTRITION</a>
          </li>
          <li class="mnav-li">
            <a href="#PEOPLE" class="mnav-a" title="PEOPLE">PEOPLE</a>
          </li>
          <li class="mnav-li">
            <a href="#LEADERS" class="mnav-a" title="LEADERS">LEADERS</a>
          </li>
          <li class="mnav-li">
            <a href="#GIVINGBACK" class="mnav-a" title="GIVING BACK">GIVING BACK</a>
          </li>

          <li class="mnav-li mnav-footer">
            <a href="#CONTACTUS" class="mnav-a" title="CONTACT US">CONTACT US</a>
          </li>
          <li class="mnav-li mnav-footer">
            <a href="#CONTACTUS" class="mnav-a" title="CAREERS">CAREERS</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="main">
		<div id="top"></div>
    {% block body %}
    {% endblock %}
  </main>

  <footer class="footer" id="CONTACTUS">
    <div class="wrap">
      <div class="two-col">
        <div class="footer-contact">
          <img src="{% static '/images/premier-nutrition-footer-logo.svg' %}" class="footer-logo" width="145" height="101">
          <div class="accordion">
            <div class="accordion-toggle">
              <h4>Careers</h4>
            </div>
            <div class="accordion-content">
              <div class="accordion-body">
                <h5>Offices:</h5>
                <p>Jobs in those offices</p>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-toggle">
              <h4>Contact Us</h4>
            </div>
            <div class="accordion-content">
              <div class="accordion-body">
                <h5>Address:</h5>
                <p>5905 Christie Ave<br>
                  Emeryville, CA 94608</p>
                <h5>Phone:</h5>
                <p><a href="tel:+14158149386">415-814-9386</a></p>
                <h5>Email:</h5>
                <p><a href="mailto:info@premiernutrition.com">info@premiernutrition.com</a></p>
                <input type="email" class="footer-email" placeholder="you@email.com">
                <textarea class="footer-message" rows="7" placeholder="Type your message here."></textarea>
                <button class="footer-submit">
                  Send
                </button>
              </div>
            </div>
          </div>
          <span class="footer-legal">
            &copy; 2016 Premier Nutrition Corporation
          </span>
        </div>
      </div>
      <div class="two-col">
        <div class="footer-nav">
          <h3>Premier Nutrition® is a registered trademark of <strong>Post Holdings.</strong></h3>
          <nav class="fnav">
            <ul class="fnav-ul">
              <li class="fnav-li">
                <a href="#DISCLOSURE" class="fnav-a" title="DISCLOSURE">DISCLOSURE</a>
              </li>

              <li class="fnav-li">
                <a href="#TERMS AND CONDITIONS" class="fnav-a" title="TERMS AND CONDITIONS">TERMS AND CONDITIONS</a>
              </li>
              <li class="fnav-li">
                <a href="#PRIVACY POLICY" class="fnav-a" title="PRIVACY POLICY">PRIVACY POLICY</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static '/js/premierLibs.js' %}"></script>
  <script src="{% static '/js/premier.js' %}"></script>
  <script>
    Main.init();
  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
